@use "/app/_variables.scss" as v;

.list {
    list-style: none;
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-direction: column;

    &:focus {
        outline: 1px solid v.$gray;
    }

    .listItem {
        width: 100%;
        position: relative;
        padding: 0.5rem 1rem;
        cursor: pointer;
        transition: background-color 200ms, color 200ms;

        &:focus {
            z-index: 99;
            background-color: v.$mainColor;
            color: white;
        }
    }
}
