@use "/app/_variables.scss" as v;

.sliderWrapper {
    width: 100%;
    position: relative;
    aspect-ratio: 2/1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:focus-visible {
        outline: none;
        .sliderContainer {
            & .presItem {
                outline: 1px solid black;
            }
        }
    }

    & .sliderContainer {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        overflow: hidden;

        &:focus-visible {
            outline: none;
            & .presItem {
                outline: 1px solid black;
            }
        }

        & .presItem {
            width: 33.33%;
            aspect-ratio: 16/9;
            flex-grow: 0;
            flex-shrink: 0;
            position: relative;
            display: flex;
            left: 33%;
            justify-content: center;
            align-items: center;
            cursor: grab;
            overflow: hidden;
            border-radius: 0.5rem;
            outline: 2px solid transparent;
            box-shadow: 0rem 1.5rem 2rem 0.5rem rgba(0, 0, 0, 0.15);
            transition: scale 0.5s ease-in-out, translate 0.5s ease-in-out, opacity 0.5s ease-in-out, box-shadow 0.5s,
                outline 0.5s;

            &:focus-visible {
                outline: 2px solid black;
            }

            &.active {
                box-shadow: 0rem 1.5rem 2rem 0.5rem rgba(v.$mainColor, 0.15);

                &:focus-visible {
                    box-shadow: 0rem 1.5rem 2rem 0.5rem rgba(v.$mainColor, 0.15);
                }
            }
        }
    }

    & .btnContainer {
        width: 106%;
        margin-left: -3%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > button {
            z-index: 50;
        }
    }

    & .sliderMenu {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        gap: 1rem;
        align-items: center;

        & > button {
            font-size: 0.5rem;
        }
    }
}

.tabs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: v.$gap;

    &.tabImages {
        flex-direction: column-reverse;
    }

    .tabContainer {
        width: calc(100% + 4rem);
        height: 100%;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        overflow: hidden;
        padding: 0.5rem 2rem 3rem 2rem;

        &:focus-visible {
            outline: none;
            & .presItem {
                outline: 1px solid black;
            }
        }

        & .presItem {
            width: 100%;
            aspect-ratio: 16/9;
            flex-grow: 0;
            flex-shrink: 0;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            border-radius: 0.5rem;
            outline: 2px solid transparent;
            box-shadow: 0rem 1rem 1.5rem 0.5rem rgba(0, 0, 0, 0.15);
            transition: translate 0.5s ease-in-out, opacity 0.5s ease-in-out, box-shadow 0.5s, outline 0.5s;
        }
    }

    & .tabMenu {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: v.$gap;

        &:focus-visible {
            outline: 1px solid black;
        }

        & > button {
            flex-grow: 1;
        }
    }
}

.sliderOverlay {
    pointer-events: none;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    animation: fadeIn 1s ease-in-out;
}

.imgContainer {
    width: 100%;
    height: 100%;

    & .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
