.sliderWrapper {
    width: 100%;
    position: relative;
    aspect-ratio: 2/1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:focus {
        outline: none;
        .sliderContainer {
            & .presItem {
                outline: 1px solid black;
            }
        }
    }

    & .sliderContainer {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        overflow: hidden;

        &:focus {
            outline: none;
            & .presItem {
                outline: 1px solid black;
            }
        }

        & .presItem {
            width: 33.33%;
            aspect-ratio: 16/9;
            flex-grow: 0;
            flex-shrink: 0;
            position: relative;
            display: flex;
            left: 33%;
            justify-content: center;
            align-items: center;
            cursor: grab;
            overflow: hidden;
            border-radius: 0.5rem;
            box-shadow: 0rem 1.5rem 2rem 0.5rem rgba(0, 0, 0, 0.15);
            transition: scale 0.5s ease-in-out, translate 0.5s ease-in-out, opacity 0.5s ease-in-out;

            &:focus {
                outline: 2px solid black;
            }
        }

        & .imgContainer {
            width: 100%;
            height: 100%;

            & .img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                pointer-events: none;
            }
        }
    }

    & .sliderOverlay {
        pointer-events: none;
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        animation: fadeIn 1s ease-in-out;
    }

    & .btnContainer {
        width: 106%;
        margin-left: -3%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > button {
            z-index: 50;
        }
    }

    & .sliderMenu {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        gap: 1rem;
        align-items: center;

        & > button {
            font-size: 0.5rem;
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
