.sliderWrapper {
    width: 100%;
    position: relative;
    aspect-ratio: 16/9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .sliderContainer {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        overflow: hidden;

        & .presItem {
            width: 33.33%;
            aspect-ratio: 16/9;
            flex-grow: 0;
            flex-shrink: 0;
            position: relative;
            display: flex;
            left: 33%;
            justify-content: center;
            align-items: center;
            cursor: grab;
            transition: scale 0.5s ease-in-out, translate 0.5s ease-in-out;
        }

        & .imgContainer {
            width: 100%;
            height: 100%;

            & .img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                pointer-events: none;
            }
        }
    }
    & .btnContainer {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > button {
            z-index: 50;
        }
    }

    & .sliderMenu {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        gap: 1rem;
        align-items: center;
    }
}
